.Principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/imagen_fondo.jpg');
    background-size: cover; /* La imagen cubrirá todo el contenedor */
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Asegura que el contenido ocupe el 100% del ancho */
    max-width: 1200px; /* Define un ancho máximo para el contenido */
    margin-top: 20px;
}

.grupo-secciones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.calendario-container {
    width: 300px; /* Ancho fijo para el calendario */
    height: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-block-end: 10px;
}

.eventos-del-dia {
    margin-top: 20px; /* Espacio entre el calendario y los eventos */
    text-align: center;
}

.evento-dot {
    color: red;
    font-size: 1.2em;
}

.seccion-grupo {
    width: 100%; /* Asegura que la sección de contenido ocupe el 100% del ancho disponible */
    text-align: center;
    display: flex;
    justify-content: center; /* Centra el contenido */
    margin: 0; /* Elimina márgenes adicionales a los costados */
    padding: 0; /* Elimina cualquier padding adicional */
}

.buscador-container {
    width: 450px; /* Ancho fijo para el buscador */
    height: 350px;/* alto fijo para el buscador */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-block-end: 10px;
}

.buscador-container input {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.buscador-container ul {
    list-style-type: none;
    padding: 0;
}

.buscador-container li {
    margin: 5px 0;
}
/* Estilos para la sección de indicadores */
.indicadores-container {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column; /* Asegura que los hijos se coloquen en columna */
    margin-left: 10px;
    margin-right: 10px;
    margin-block-end: 10px;
}

.indicadores {
    flex-grow: 1; /* Empuja el formulario hacia abajo si hay más contenido */
}

.formulario-container {
    margin-top: 20px; /* Espacio entre indicadores y el formulario */
}

.formulario-link {
    display: inline-block;
    padding: 15px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.formulario-link:hover {
    background-color: #0056b3;
}
